/* GENERAL */
 
* {
  font-family: sans-serif;
}

body, html {
  /* background-color: powderblue; */
  background-color: steelblue;
}

body {
  display: flex;
  margin: 0px;
  /* min-height: 100vh; */
}

button {
  cursor: pointer;
}

/* SIDEBAR */

aside {
  /* width: 25%; */
  width: 20%;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  height: 100vh;
  margin: none;
  overflow-y: auto;
  /* background-color: powderblue;  */
  background-color: steelblue; 
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: black;
  /* color: white; */
  color: whitesmoke;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  /* background-color: powderblue; */
  background-color: steelblue;
  /* width: 65%; */
  width: 96%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
}

nav > button:hover {
  /* background-color: white; */
  background-color: whitesmoke;
}

nav > button:hover:not(.active-nav) {
  /* background-color: #cbeef2; */
  /* background-color: #9ac9ce; */
  background-color: #3d76a5;
}

.active-nav {
  /* background-color: white; */
  background-color: whitesmoke;
}

/* MAIN */

main {
  padding: 10px;
  width: 79%;
  /* width: 125%; */
  /* background-color: white; */
  background-color: whitesmoke;
  margin-left: 20%;
}

form {
  display: flex;
}

.item,
.merchant {
  display: flex;
  /* background-color: whitesmoke; */
  background-color: white;
  margin: 10px;
  padding: 5px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

#items-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item h2, p {
  text-align: center;
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* #merchant-view {
  display: flex;
} */

.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 
  