/* GENERAL */
 
* {
  font-family: sans-serif;
}

body, html {
  background-color: steelblue;
}

body {
  display: flex;
  margin: 0px;
}

button {
  cursor: pointer;
}

/* SIDEBAR */

aside {
  width: 20%;
  position: fixed;
  height: 100vh;
  margin: none;
  overflow-y: auto;
  background: -moz-linear-gradient(top, #86B0D2 0%, #DCE8F2 100%);
  background: -webkit-linear-gradient(top, #86B0D2 0%, #DCE8F2 100%);
  background: linear-gradient(to bottom, #86B0D2 0%, #DCE8F2 100%);
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: black;
  color: whitesmoke;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: steelblue;
  width: 96%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
}

nav > button:not(.active-nav) {
  background-color: rgba(70, 130, 180, 0);
  opacity: 1;
}

nav > button:hover:not(.active-nav) {
  background-color: #3C6F9A;
  background-color: #86B0D2;
}

.active-nav {
  background-color: whitesmoke;
}

/* MAIN */

main {
  padding: 10px;
  width: 79%;
  background-color: whitesmoke;
  margin-left: 20%;
}

form {
  display: flex;
  align-items: center;
}

#new-merchant-name {
  margin: 0.3em;
}

.sort-button,
.add-new-button,
.submit {
  background-color: #91b7d6;
  color: black;
  border: none;
  border-radius: 2px;
  height: 2em;
}

.view-merchant-items,
.edit-merchant,
.delete-merchant,
.submit-merchant-edits,
.discard-merchant-edits {
  background-color: #91b7d6;
  border: none;
  height: 2em;
  border-radius: 2px;
}

.submit-merchant-edits,
.discard-merchant-edits {
  background-color: green;
  color: white;
}

.discard-merchant-edits {
  background-color: indianred;
}

.edit-merchant-input {
  height: 1.6em;
}

.item,
.merchant {
  display: flex;
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

#items-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item h2, p {
  text-align: center;
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 